/* Main webpage css */
body{
    background-color: #07090F;
}
.holland{
    position: relative;
    background: #07090F;
    border-radius: 25px;
    border: 3px solid #77FF94;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    width: 80%;
}
.pacan-l{
    position: relative;
    text-align: center;
    display: block;
    color: #77FF94;
    bottom: 60px;
    font-size: 22px;
}
.mekkemsg{
    color: #77FF94;
    background-color: #07090F;
    margin-top: 0;
}
#cataclysm{
    position: relative;
    display: block;
    margin: auto; 
    height: 80%;
    width: 90%;
}
#div-menu{
    position: relative;
    margin: auto;
    width: 80%;
    border-radius: 25px;
    border: 3px solid #77FF94;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    background-color: #07090F;
}
#texture-b{
    position: relative;
    width: 100%;
    height: 10%;
    color: #07090F;
    background-color: #77FF94;
}
#ip{
    position: relative;
    text-align: center;
    bottom: 20px;
    color: #77FF94;
}
#plinks{
    position: relative;
    text-align: center;
    bottom: 40px;
}
#github{
    position: relative;
    text-align: center;
    display: block;
    color: #77FF94;
    bottom: 60px;
}
#hrusc{
    position: relative;
    text-align: center;
    display: block;
    color: #77FF94;
    bottom: 60px;
}
#idrac{
    position: relative;
    text-align: center;
    display: block;
    color: #77FF94;
    bottom: 60px;
}
#iplog{
    position: relative;
    text-align: center;
    display: block;
    color: #77FF94;
    bottom: 60px;
}
#map{
    position: relative;
    text-align: center;
    display: block;
    color: #77FF94;
    bottom: 60px;
    font-size: 22px;
}
#login{
    position: relative;
    text-align: center;
    display: block;
    color:#77FF94;
    bottom: 60px;
    font-size: 22px;
}
#fold{
    position: relative;
    display: block;
    margin: auto;
    height: 20%;
    width: 20%;
}
#figyelem{
    position: relative;
    display: block;
    margin: auto;
    height: 10%;
    width: 10%;
}
#div-bongus{
    position: relative;
    margin: auto;
    width: 80%;
    border-radius: 25px;
    border: 3px solid #77FF94;
    box-shadow: 5px 5px 5px black;
    background: #07090F;
    padding: 10px; 
}
#amgussy{
    position: relative;
    display: block;
    margin: auto; 
    height: 80%;
    width: 100%;
}
#sussy-b{
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
#ppl-msg{
    position: relative;
    margin: auto;
    width: 80%;
    border-radius: 25px;
    border: 3px solid #77FF94;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    background-color: #07090F;
}
#guestmsg{
    animation: goofyaah 5s infinite;
    animation-direction: alternate;
    color: #77FF94; 
    background-color: #07090F;
    display: inline-block;
}
@keyframes goofyaah {
    50%  {transform: rotate(20deg);}
    100%  {transform: rotate(-20deg);}    
}
/* Privacy policy css section */
@keyframes marqueeanimc {
    0% {color: red; background-color: yellow;}
    50% {color: yellow; background-color: red;}
    100% {color: red; background-color: yellow;}

}
@keyframes marqueeanimt {
    0% {color: red; background-color: blue;}
    50% {color: blue; background-color: red;}
    100% {color: red; background-color: blue;}

}
#pp-marquee{
    animation: marqueeanimc 5s infinite;
    position: relative;
    top: 0;
}
#pp-main-div{
    position:relative;
    margin: auto;
    width: 80%;
    border-radius: 25px;
    border: 3px goldenrod solid;
    background-color: #1e1e1e;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
}
#pp-h1{
    position: relative;
    color: goldenrod;
}
#pp-p{
    position: relative;
    color: #07090F;
    background-color: goldenrod;
}
#pp-img{
    position: relative;
    display: block;
    margin: auto; 
    height: 70%;
    width: 100%;
}